# ===============================
# = APPLICATION
# ===============================
project.dir=../..
spring.devtools.add-properties=true

# ===============================
# = THYMELEAF
# ===============================
spring.thymeleaf.cache=false

# ===============================
# = PLATFORM
# ===============================
platform.hibernate.show_sql=true

# ===============================
# = DATA SOURCE
# ===============================
datasource.platform.url=jdbc:mariadb://localhost:3306/beanframework?useUnicode=yes&characterEncoding=UTF-8
datasource.platform.username=
datasource.platform.password=
datasource.platform.driverClassName=org.mariadb.jdbc.Driver
platform.hibernate.dialect=org.hibernate.dialect.MariaDB53Dialect

# ===============================
# = EMAIL
# ===============================
spring.mail.host=
spring.mail.port=
spring.mail.username=
spring.mail.password=
spring.mail.from.name=
spring.mail.from.email=
spring.mail.properties.mail.smtp.auth=
spring.mail.properties.mail.smtp.starttls.enable=

#============================================================================
# Configure ThreadPool  
#============================================================================
org.quartz.threadPool.class=org.quartz.simpl.SimpleThreadPool
org.quartz.threadPool.threadCount=5
org.quartz.threadPool.threadPriority=4
 
#============================================================================
# Configure JobStore  
#============================================================================
org.quartz.jobStore.misfireThreshold=60000
org.quartz.jobStore.class=org.quartz.simpl.RAMJobStore
 
#============================================================================
# Configure Plugins 
#============================================================================
#org.quartz.plugin.triggHistory.class = org.quartz.plugins.history.LoggingJobHistoryPlugin
org.quartz.plugin.shutdownHook.class=org.quartz.plugins.management.ShutdownHookPlugin
org.quartz.plugin.shutdownHook.cleanShutdown=false