# ===============================
# = APPLICATION
# ===============================
project.dir=../..
data.dir=${project.dir}/data
temp.dir=${project.dir}/temp
log.dir=${project.dir}/log
spring.pid.file=${temp.dir}/pid.txt
server.tomcat.basedir=${temp.dir}/tomcat
spring.devtools.add-properties=true
spring.devtools.restart.enabled=true

# ===============================
# = CACHE
# ===============================
spring.cache.type=NONE

# ===============================
# = THYMELEAF
# ===============================
spring.thymeleaf.cache=false

# ===============================
# = PLATFORM
# ===============================
platform.hibernate.show_sql=true

# ===============================
# = DATA SOURCE
# ===============================
datasource.platform.host=localhost:3306
datasource.platform.database=beanframework2
datasource.platform.url=jdbc:mariadb://${datasource.platform.host}/${datasource.platform.database}?useUnicode=yes&characterEncoding=UTF-8
datasource.platform.username=root
datasource.platform.password=
datasource.platform.driverClassName=org.mariadb.jdbc.Driver
platform.hibernate.dialect=org.hibernate.dialect.MariaDB53Dialect

# ===============================
# = EMAIL
# ===============================
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=
spring.mail.password=
spring.mail.from.name=
spring.mail.from.email=
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

# ===============================
# = QUARTZ
# ===============================
spring.quartz.job-store-type=jdbc
spring.quartz.jdbc.initialize-schema=never

#============================================================================
# Configure Quartz Scheduler  
#============================================================================
spring.quartz.properties.org.quartz.scheduler.skipUpdateCheck=true
spring.quartz.properties.org.quartz.scheduler.instanceName=DatabaseScheduler
spring.quartz.properties.org.quartz.scheduler.instanceId=NON_CLUSTERED
spring.quartz.properties.org.quartz.scheduler.jobFactory.class=org.quartz.simpl.SimpleJobFactory

#============================================================================
# Configure Quartz JobStore  
#============================================================================
#spring.quartz.properties.org.quartz.jobStore.class=spring.quartz.properties.org.quartz.simpl.RAMJobStore
spring.quartz.properties.org.quartz.jobStore.misfireThreshold=60000
spring.quartz.properties.org.quartz.jobStore.class=org.quartz.impl.jdbcjobstore.JobStoreTX
spring.quartz.properties.org.quartz.jobStore.driverDelegateClass=org.quartz.impl.jdbcjobstore.StdJDBCDelegate
spring.quartz.properties.org.quartz.jobStore.dataSource=quartzDataSource
spring.quartz.properties.org.quartz.jobStore.tablePrefix=qrtz_

#============================================================================
# Configure Quartz ThreadPool  
#============================================================================
spring.quartz.properties.org.quartz.threadPool.class=org.quartz.simpl.SimpleThreadPool
spring.quartz.properties.org.quartz.threadPool.threadCount=5
spring.quartz.properties.org.quartz.threadPool.threadPriority=4

#============================================================================
# Configure Quartz Plugins 
#============================================================================
#spring.quartz.properties.org.quartz.plugin.triggHistory.class = org.quartz.plugins.history.LoggingJobHistoryPlugin
spring.quartz.properties.org.quartz.plugin.shutdownHook.class=org.quartz.plugins.management.ShutdownHookPlugin
spring.quartz.properties.org.quartz.plugin.shutdownHook.cleanShutdown=false