<ehcache xsi:noNamespaceSchemaLocation="ehcache.xsd" updateCheck="true" monitoring="autodetect" dynamicConfig="true">

	<diskStore path="../../temp/ehcache" />

	<defaultCache maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />

	<!-- Model -->
	<cache name="Model" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
	
	<cache name="ModelCount" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />

	<cache name="ModelProperties" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />

	<cache name="ModelPropertiesCount" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />

	<cache name="ModelPropertiesExists" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />

	<cache name="ModelList" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />

	<cache name="ModelHistoryList" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />

	<cache name="ModelHistoryCount" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />

	<cache name="ModelPage" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />

</ehcache>