<ehcache xsi:noNamespaceSchemaLocation="ehcache.xsd" updateCheck="true" monitoring="autodetect" dynamicConfig="true">

	<diskStore path="../../temp/ehcache" />

	<defaultCache maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
		
	<cache name="com.beanframework.common.domain.Auditor" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
		
	<cache name="com.beanframework.admin.domain.Admin" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
		
	<cache name="com.beanframework.customer.domain.Customer" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
		
	<cache name="com.beanframework.employee.domain.Employee" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />

	<cache name="com.beanframework.menu.domain.Menu" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />

	<cache name="com.beanframework.menu.domain.MenuField" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />

	<cache name="MenuNavigation" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
		
	<cache name="com.beanframework.configuration.domain.Configuration" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
		
	<cache name="com.beanframework.cronjob.domain.Cronjob" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
		
	<cache name="com.beanframework.cronjob.domain.CronjobData" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
		
	<cache name="com.beanframework.dynamicfield.domain.DynamicField" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
		
	<cache name="com.beanframework.dynamicfield.domain.DynamicFieldEnumValue" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
		
	<cache name="com.beanframework.email.domain.Email" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
	
	<cache name="com.beanframework.language.domain.Language" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
		
	<cache name="com.beanframework.user.domain.User" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
		
	<cache name="com.beanframework.user.domain.UserField" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
		
	<cache name="com.beanframework.user.domain.UserGroup" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
		
	<cache name="com.beanframework.user.domain.UserGroupField" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
		
	<cache name="com.beanframework.user.domain.UserPermission" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
		
	<cache name="com.beanframework.user.domain.UserPermissionField" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
		
	<cache name="com.beanframework.user.domain.UserRight" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
		
	<cache name="com.beanframework.user.domain.UserRightField" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
		
	<cache name="com.beanframework.user.domain.UserAuthority" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
		
	<cache name="com.beanframework.ppm.domain.PpmProject" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
		
	<cache name="com.beanframework.ppm.domain.PpmProjectField" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
		
	<cache name="com.beanframework.ppm.domain.PpmInstruction" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
		
		<cache name="com.beanframework.ppm.domain.PpmInstructionField" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
		
	<cache name="com.beanframework.ppm.domain.PpmProjectTemplate" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
		
	<cache name="com.beanframework.ppm.domain.PpmInstructionTemplate" maxEntriesLocalHeap="10000" eternal="false" timeToIdleSeconds="21600" timeToLiveSeconds="21600" memoryStoreEvictionPolicy="LRU"
		overflowToDisk="true" diskPersistent="false" diskExpiryThreadIntervalSeconds="120" />
		
</ehcache>