.wrapper form {
	padding-top: .5rem;
}

.modal {
	padding: 0 !important;
}

.modal .modal-dialog {
	width: 100%;
	max-width: none;
	height: 100%;
	margin: 0;
}

.modal .modal-content {
	height: 100%;
	border: 0;
	border-radius: 0;
}

.modal .modal-header {
	padding: 10px 2rem 10px 1rem;
	background-color: #f4f6f9;
}

.modal .modal-header .close {
	font-size: 36px;
}

.modal .modal-body {
	padding: 0px 0px 0px 5px;
}

.table-hover tbody tr {
	cursor: pointer;
}

table .selected {
	background-color: rgba(0, 0, 0, .075);
}

.table-select {
	background-color: #f7f7f7;
	cursor: select;
}

.table-select-form {
	padding-top: 0px !important;
}

.table-select-datatable {
	padding: 10px !important;
}

.content-wrapper .content-header {
	padding: 10px 1rem 10px 1rem;
	background-color: #f4f6f9;
}

.consistent-height .tab-content {
	display: flex;
}

.consistent-height .tab-content>.tab-pane {
	display: block; /* undo "display: none;" */
	visibility: hidden;
	margin-right: -100%;
	width: 100%;
}

.consistent-height .tab-content>.active {
	visibility: visible;
}